* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.text-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
}

@font-face { font-family: 'NanumGothic'; src: url(../font/NanumBarunGothic.ttf) format('truetype'); }
@font-face { font-family: 'NanumMyeongjo'; src: url(../font/NanumMyeongjo.ttf) format('truetype'); }